<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TuneSet</title>
  </head>
  <body>
<h1>{{title}}</h1>
<h2>Welcome to tuneSet</h2>
<form class="" action="/" method="post">
  <label for="name" id='name'>
    <input type="text" name="name" id='name'>Type name of first tune
  </label>
  <input type="submit">
</form>
<h4 id='tune-id'>
</h4>
<p class='notation abcrendered'>

X:8
T: Broken Pledge, The
Z: Piano Box Version by Martin Fleischmann
H: Created 2013-02-19 /  Last Modified 2014-12-07
M: 4/4
L: 1/8
R: Reel
K: Ddor
A|!5!d!4!c!2!A!1!G !2!A!1!DD!2!A|!4!c!2!A!1!G!3!F !2!E!1!CCE|!1!D!2!E!3!F!4!G !2!A!5!ddc|!2!A!4!c!1!G!4!c !1!A!4!e!5!f!4!e|
!5!dcAG A2dA|cAGF ECCE|DEFG Addc|!2!AA!1!G!2!E E!1!DD:||
A|!3!d!2!c!1!A!1!G !1!Acde|!5!fAdf !4!e!2!c!1!A!2!B|!3!c!1!A!2!G!1!E !2!G!1!A!3!c!4!d|!5!e2!1!cc !2!e!5!a!4!g!2!e|
!3!dcAG Acde|fAdf ec!1!A!4!G|!3!F2FE !3!F!4!G!2!AB|!4!c!2!A!1!G!2!E E!1!DD:||

</p>



<!-- {{#tunes}}
  <p>
    {{id}}
    {{name}}
    {{type}}
    {{key}}
    {{abc}}
  </p>
{{/tunes}} -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1619392258344342";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false">
</div> -->

<!-- <script type="text/javascript" src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src="public/javascripts/abc_plugin.js" type="text/javascript"></script>
 -->	<!-- use these lines instead to debug the plugin -->
	<!--<script src="bin/abcjs_basic_latest-min.js" type="text/javascript"></script>-->
	<!--<script src="jquery-1.11.3.min.js" type="text/javascript"></script>-->
	<!--<script src="plugin/abc_plugin.js" type="text/javascript"></script>-->
  <script src="https://cdn.rawgit.com/paulrosen/abcjs/master/bin/abcjs_plugin_2.1-min.js" type="text/javascript"></script>
<script type="text/javascript" src='public/javascripts/client.js'></script>
  </body>
</html>
