<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <main>

  <body>
      <!-- <section class='key-selection>'>
        <h3>Key choices for 2nd and 3rd tunes.  Pick one!</h3>
          <form action="/" method='post'>
            <label for="type" id='type'>Choose a meter</label>
          <input type="text" name='type' id='type'>
          <button type='submit'>Submit</button>
          </form> -->
<!--         <a class='key' href="/keys?type=jig">Jig</a>
 -->
     <form method="get">
       <select class="select" name="key">
         <label for="Amajor"></label>
           <option value="Amajor">A Major</option>
           <option value="Cmajor">C Major</option>
           <option value="Dmajor">D Major</option>
           <option value="Fmajor">F Major</option>
           <option value="Gmajor">G Major</option>
           <option value="Aminor">A Minor</option>
           <option value="Bminor">B Minor</option>
           <option value="Dminor">D Minor</option>
           <option value="Eminor">E Minor</option>
           <option value="Gminor">G Minor</option>
           <option value="Adorian">A Dorian</option>
           <option value="Bdorian">B Dorian</option>
           <option value="Cdorian">C Dorian</option>
           <option value="Ddorian">D Dorian</option>
           <option value="Edorian">E Dorian</option>
           <option value="Fdorian">F Dorian</option>
           <option value="Gdorian">G Dorian</option>
           <option value="Amixolydian">A Mixolydian</option>
           <option value="Bmixolydian">B Mixolydian</option>
           <option value="Dmixolydian">D Mixolydian</option>
           <option value="Emixolydian">E Mixolydian</option>
           <option value="Gmixolydian">G Mixolydian</option>
           <input type="submit" value="submit">
       </select>
     </form>

        <section>
<!--           <div class='row'>
 -->
        <header>
           <h3>Current key:  <span>{{key}}</span></h3>
        </header>
        <!-- <div class='row'>
        <div class='one-half'>
              <h4>Major Keys</h4>
          <a class='key' href="/keys?key=Amajor">A Maj</a>
          <a class='key' href="/keys?key=Cmajor">C Maj</a>
          <a class='key' href="/keys?key=Dmajor">D Maj</a>
          <a class='key' href="/keys?key=Fmajor">F Maj</a>
          <a class='key' href="/keys?key=Gmajor">G Maj</a>
              </div>
              <div class='one-half'>
          <h4>Minor Keys</h4>
          <a class='key' href="/keys?key=Aminor">A Min</a>
          <a class='key' href="/keys?key=Bminor">B Min</a>
          <a class='key' href="/keys?key=Dminor">D Min</a>
          <a class='key' href="/keys?key=Eminor">E min</a>
          <a class='key' href="/keys?key=Gminor">G Min</a>
              </div>
              </div>
            </div class='row'>
            </div>
              <div class='row'>
        <div class='one-half'>
          <h4>Dorian Mode Keys</h4>
          <a class='key' href="/keys?key=Adorian">A Dorian</a>
          <a class='key' href="/keys?key=Bdorian">B Dorian</a>
          <a class='key' href="/keys?key=Cdorian">C Dorian</a>
          <a class='key' href="/keys?key=Ddorian">D Dorian</a>
          <a class='key' href="/keys?key=Edorian">E Dorian</a>
          <a class='key' href="/keys?key=Fdorian">F Dorian</a>
          <a class='key' href="/keys?key=Gdorian">G Dorian</a>
        </div>
        <div class='one-half'>
          <h4> Mixolydian Mode Keys</h4>
          <a class='key' href="/keys?key=Amixolydian">Amixolydian</a>
          <a class='key' href="/keys?key=Bmixolydian">Bmixolydian</a>
          <a class='key' href="/keys?key=Dmixolydian">Dmixolydian</a>
          <a class='key' href="/keys?key=Emixolydian">Emixolydian</a>
          <a class='key' href="/keys?key=Gmixolydian">Gmixolydian</a>
              </div>
              </div> -->
      <article>

      <div class='row'>
        <div class='two-third display'>
            {{#tuneKeys}}

<!--             <h3>{{key}}</h3>
 -->
               <a class='name' href="/tunes?id={{id}}&name={{name}}&key={{key}}">{{{name}}}</a>
            {{/tuneKeys}}
      </article>
      </div>
      </div>
    </section>
  </main>
  </body>
</html>
